.header{
    position: absolute;
    width: 100%;
    height: 100px;
    min-width: 820px;
    top: 0;
    left: 0;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 1px 12px;
    display: flex;
    flex-direction: row;
    gap: 20px; 

    color: #12100b;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 500;

}