.input-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

}

.input--div{
    color: #12100b;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 3px;

}

.input-form{
    min-width: 280px;
    width: 100%;
    background-color: rgb(229,237,247);
    border: none;
    box-sizing: border-box;
    height: 40px;
}